@charset "utf-8";

@media (max-width: 414px){
#title {
	font-size: 143%;
	height: 5%;
}
#nav {
	font-size: 44%;
	margin-left: -31px;
}

#nav a {
	line-height: 32px;


}
#column {
	margin-left: -45px;
}
#column p {
	margin-left: 81px;
	font-size: 9px;
	line-height: 13px;
}
#footer {
	line-height: -79px;
}





}
